<div class="header_bottom_line" style="background: #fff;
                                        border-bottom: 5px solid #0c95f5;
                                        padding: 6px 30px;
                                        height: 74px;
                                        display: block;
                                        color: #fff;
                                        font-family: roboto,sans-serif;">

  <h1 class="logo_container" style="color: #000;">
    {code}
    <span class="site_name" style="color:#0c95f5;">Console</span>
  </h1>
</div>
