
  <div style="float:left;width:20%;color:#445d6e;padding:3% 2%;border-right:2px solid #e8e8e8;height:100%;">
    <h2 style="font-family: proxima-nova,sans-serif;font-size:2rem;">
      Software
    </h2>
    <p style="font-family: proxima-nova,sans-serif;width:100%;position:relative;color:#9d9e9e;">
      A collection of source code, typically tied to a single repository in a Source Code Management system.
    </p>

    <button class="btn btn-lg btn-outline-primary" (click)="open()" style="margin-top:15%;">Analytics</button>
  </div>

