<div style="position:relative;
            margin:1% 20%;
            width:100%;
            ">
  <div style="border-bottom:1px solid gray;position:absolute;width:60%;">
  <div style="float:left;width:65%;color:#b0b6bf;">
    <h2 style="font-family: proxima-nova,sans-serif;">
      Software
    </h2>
    <p style="font-family: proxima-nova,sans-serif;width:75%;position:relative;color:lightslategray;">
      A collection of source code, typically tied to a single repository in a Source Code Management system
    </p>
  </div>
<!--  <div style="float:right;width:35%;">-->
<!--    <input type="text" placeholder="Enter name of Software" style="border: 1px solid #dfdfdf;-->
<!--                                                                    font-size: 16px;-->
<!--                                                                    font-weight: 400;-->
<!--                                                                    font-style: italic;-->
<!--                                                                    padding: 0.65rem 0rem;-->
<!--                                                                    color: #444;-->
<!--                                                                    border-radius: 3px;-->
<!--                                                                    outline: 0;-->
<!--                                                                    display: inline-block;-->
<!--                                                                    margin-top: 2rem;-->
<!--                                                                    text-align: left;-->
<!--                                                                    height: 3rem;-->
<!--                                                                    width: 100%;-->
<!--                                                                    "/>-->
<!--  </div>-->
  </div>
</div>
