<div style="position:relative;
            padding:1% 20%;
            ">
  <div style="float:left;width:65%;">
    <h2 style="font-family: proxima-nova,sans-serif;">
      Software
    </h2>
    <p style="font-family: proxima-nova,sans-serif;width:75%;position:relative;">
      A collection of source code, typically tied to a single repository in a Source Code Management system
    </p>
  </div>
  <div style="float:right;width:35%;">
    <input type="text" placeholder="Enter name of Software" style="border: 1px solid #dfdfdf;
                                                                    font-size: 16px;
                                                                    font-weight: 400;
                                                                    padding: 0.65rem .85rem;
                                                                    color: #444;
                                                                    border-radius: 3px;
                                                                    outline: 0;
                                                                    display: inline-block;
                                                                    margin-bottom: 1rem;
                                                                    text-align: left;
                                                                    height: 3rem;
                                                                    width: 100%;"/>
  </div>
</div>
